#Ignorer les fichiers et dossiers temporaires
*.log
*.tmp

#Ignorer les fichiers générés automatiquement
/out/
/build/

#Ignorer les fichiers spécifiques à IntelliJ IDEA
.idea/
*.iml

#Eclipse
.classpath
.project
.settings/

#Intellij
.idea/
*.iml
*.iws

#Mac
.DS_Store

#Maven
log/
target/

#Others
*.class
*.jar
*.lst
proto-front/node_modules/.cache/default-development/0.pack
proto-front/node_modules/.cache/default-development/0.pack
proto-front/node_modules/.cache/default-development/1.pack
proto-front/node_modules/.cache/default-development/3.pack
proto-front/node_modules/.cache/default-development/index.pack.old
proto-front/node_modules/.cache/default-development/index.pack
proto-front/node_modules/.cache/default-development/4.pack
proto-front/node_modules/.cache/default-development/0.pack
proto-front/node_modules/.cache/default-development/index.pack.old
proto-front/node_modules/.cache/default-development/1.pack
*.pack